In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data = pd.read_csv(r"C:/Users/Ankita/Desktop/attrition1.csv")
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [3]:
data.drop_duplicates()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [3]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['Attrition'] = le.fit_transform(data['Attrition'])
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   int64
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(15), object(7)
memory usage: 827.0+ KB

In [7]:
data = data.dropna()
data.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [8]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.Age)
stats,p

(-0.1583986795409615, 5.126598219399243e-26)

* Here, p_value < 0.05 then we have to reject the null hypothesis h0.
* And r_value is lies in between 0 and -1 and very close to 0,
### hence, there is  highly negative correlation between attrition and year since last promotion of employee .

In [9]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.DistanceFromHome)
stats,p

(-0.009448638515155983, 0.5317715668019634)

* if p_value > 0.05 then we have to accept the null hypothesis h0.
### hence, there is no correlation between attrition and age of employee.

In [10]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.Education)
stats,p

(-0.017106307050278158, 0.2575753930816995)

* if p_value < 0.05 then we have to reject the null hypothesis h0 and accept the alternate hypotesis h1 .
* And r_value is lies between 0 and -1 and very close to 0 ,
### hence, there is ___Highly negative correlation___ between attrition and age of employee.

In [11]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.EmployeeID)
stats,p

(-0.004620541850379358, 0.7597730060916836)

* if p_value > 0.05 then we have to accept the null hypothesis h0.
### hence, there is no correlation between attrition and age of employee.

In [12]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.JobLevel)
stats,p

(-0.012381569720790186, 0.4125489150377358)

* if p_value > 0.05 then we have to accept the null hypothesis h0.
### hence, there is no correlation between attrition and age of employee.

In [13]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.MonthlyIncome )
stats,p

(-0.030160293808459582, 0.04589086274474114)

* here p_value < 0.05 then we have to reject the null hypothesis h0 and accept the alternate hypotesis h1 .
* And r_value is lies between 0 and -1 and very close to 0 ,
### hence, there is ___Highly negative correlation___ between attrition and age of employee.

In [14]:

from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.NumCompaniesWorked)
stats,p

(0.04283056724471892, 0.004572057121624155)

* here p_value < 0.05 then we have to reject the null hypothesis h0 and accept the alternate hypotesis h1 .
* And r_value is lies between 0 and 1 and very close to 0 ,
### hence, there is ___Low positive correlation___ between attrition and age of employee.

In [15]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.PercentSalaryHike )
stats,p

(0.033153037135465226, 0.028192446935107012)

* here p_value < 0.05 then we have to reject the null hypothesis h0 and accept the alternate hypotesis h1 .
* And r_value is lies between 0 and 1 and very close to 0 ,
### hence, there is ___low positive correlation___ between attrition and age of employee.

In [16]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.StockOptionLevel)
stats,p

(-0.008164026684984033, 0.5889996358312328)

* here, p_value > 0.05 then we have to accept the null hypothesis h0.
### hence, there is no correlation between attrition and age of employee.

In [17]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.TotalWorkingYears)
stats,p

(-0.16966991684723265, 1.1645434967153252e-29)

* Here, p_value < 0.05 then we have to reject the null hypothesis h0.
* And r_value is lies in between 0 and -1 and very close to 0,
### hence, there is  highly negative correlation between attrition and year since last promotion of employee .

In [18]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.TrainingTimesLastYear)
stats,p

(-0.04758573693081555, 0.0016276603635485554)

* here p_value < 0.05 then we have to reject the null hypothesis h0 and accept the alternate hypotesis h1 .
* And r_value is lies between 0 and -1 and very close to 0 ,
### hence, there is ___Highly negative correlation___ between attrition and age of employee.

In [19]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.YearsAtCompany )
stats,p

(-0.1330026184252109, 9.476118084864852e-19)

* here p_value < 0.05 then we have to reject the null hypothesis h0 and accept the alternate hypotesis h1 .
* And r_value is lies between 0 and -1 and very close to 0 ,
### hence, there is ___Highly negative correlation___ between attrition and age of employee.

In [10]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.YearsSinceLastPromotion)
stats,p

(-0.0314231505633079, 0.03752293607393637)

* Here, p_value < 0.05 then we have to reject the null hypothesis h0.
* And r_value is lies in between 0 and -1 and very close to 0,
### hence, there is  highly negative correlation between attrition and year since last promotion of employee .

In [9]:
from scipy.stats import pearsonr
stats,p = pearsonr(data.Attrition,data.YearsWithCurrManager)
stats,p

(-0.15469153690286805, 7.105369646794048e-25)

* Here, p_value < 0.05 then we have to reject the null hypothesis h0.
* And r_value is lies in between 0 and -1 and very close to 0,
### hence, there is  highly negative correlation between attrition and year since last promotion of employee .